.container__cardDishes{
    width: 300px;
    height: 400px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    box-shadow: 0px 8px 10px rgba(0, 0, 1, 1);
}

.container__cardDishes img {
    width: 200px;
    height: 200px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}