.fieldContainer{
    display: flex;
    flex-direction: column;
    gap: 2px;
}


.fieldContainer__content {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 4px 12px;
    background: white;
    border: 1px solid purple;
    box-sizing: border-box;
    border-radius: 4px;
    gap: 4px;
    height: fit-content;
}

.fieldContainer__styledInput {
    width: 100%;
    border: none;
    height: 40px;
    color: Gray;
    font-size: 16px;
}

.fieldContainer__styledInput:focus{
    outline: none;
}