.filter__content {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end:8;
    display: flex;
    align-items: center;
    padding: 4px 12px;
    background: White;
    border: 1px solid #494f66;
    box-sizing: border-box;
    border-radius: 4px;
    gap: 4px;
    width: 95vw;
    margin-left: 10px;
    height: 56px;
}

.filter__content input {
    width: 100%;
    border: none;
    height: 40px;
    color: #494F66;
    font-size: 16px;
}

@media (min-width: 768px) {
    .filter__content {
        grid-column-start: 3;
        grid-column-end: 12;
        grid-row-start: 5;
        grid-row-end: 7;
        gap: 10px;
        width: 80%;
        height: fit-content;
    }
 }

 @media (min-width: 1024px) {
    .filter__content {
        grid-column-start: 4;
        grid-column-end: 11;
        grid-row-start: 4;
        grid-row-end: 7;
        gap: 10px;
        width: 80%;
        height: fit-content;
    }
 }

 @media only screen and (min-width: 1024px) and (max-width: 1824px) {
    .filter__content {
        grid-column-start: 4;
        grid-column-end: 11;
        grid-row-start: 4;
        grid-row-end: 7;
        gap: 10px;
        width: 80%;
        height: fit-content;
    }
}