header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 7;
    background-color: var(--red-color);
    display: flex;
    flex-wrap: wrap;
    
}

.content {
    height: 45vh;
}

.content img {
    width: 100vw;
    height: 45vh;
}

.content__iconNew{
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-plus-circle{
    display: flex;
    gap: 5px;
    color: white;
    cursor: pointer;
}




@media (min-width: 768px) {
    header {
     grid-column-start: 2;
     grid-column-end: 11;
     grid-row-start: 1;
     grid-row-end: 4; 
     justify-content: space-between;
    }

    .content {
        height: 30vh;
    }
    .content img {
        width: 25vw;
        height: 30vh;
    }
    .content__iconNew{
        width: 17vw;
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fa-plus-circle{
        display: flex;
        gap: 5px;
    }
    
    .fa-plus-circle:hover{
        color: goldenrod;
    }

 }

 @media (min-width: 1024px) {
    header {
     grid-column-start: 3;
     grid-column-end: 11;
     grid-row-start: 1;
     grid-row-end: 4; 
    }
    .content img {
        width: 17vw;
        height: 30vh;
       }

 }

 @media only screen and (min-width: 1024px) and (max-width: 1824px) {
    header {
        grid-column-start: 3;
        grid-column-end: 12;
        grid-row-start: 1;
        grid-row-end: 4; 
       }
       .content img {
           width: 17vw;
           height: 30vh;
          }
}