.editRestaurant__Container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(15, 15vw);
    align-items: center;
    justify-content: center; 
}

.content__form{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 10;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form{
    width: 98vw;
    height: 100vh;
    border-radius: 8px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    box-shadow: 0px 8px 10px rgba(0, 0, 1, 1);
    gap: 15px;
}

.content__button{
    width: 60vw;
}

@media (min-width: 768px) {
    .editRestaurant__Container{
     grid-template-columns: repeat(12, 1fr);
     grid-template-rows: repeat(15, 5vw);
    }

    .content__form{
        grid-column-start: 6;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 5;
    }
 
    form{
     width: 25vw;
     height: 50vh;
 }
 
 .content__button{
     width: 13vw;
 }
 
 }